In [16]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=b4b88648c9e115388b911fce72eae9b913156396ce0924ff5054d408a7bf56fc
  Stored in directory: /root/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [62]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.metrics.pairwise import cosine_similarity
import operator
%matplotlib inline

In [63]:
ratings = pd.read_csv('./sample_data/rating.csv', encoding='utf-8')
recipes = pd.read_csv('./sample_data/recipe.csv', encoding='utf-8')
recipes_ratings = pd.merge(ratings, recipes, on='recipe_id')
recipes_ratings.head()

,user_id,recipe_id,rating,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,recipe
0,1,3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,김밥
1,30,3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,김밥
2,33,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,김밥
3,43,3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,김밥
4,45,3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,김밥

In [64]:
recipe_usr_rating = recipes_ratings.pivot_table('rating', index='recipe', columns='user_id')
usr_recipe_rating = recipes_ratings.pivot_table('rating', index='user_id', columns='recipe')

In [65]:
recipe_usr_rating.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,97,98,101,102,103,105,106,107,108,111
recipe,,,,,,,,,,,,,,,,,,,,,
계란죽,NaN,NaN,NaN,4.0,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
계란찜,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
고구마만쥬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
김밥,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
리코타치즈,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
recipe_usr_rating.fillna(0, inplace=True)
recipe_usr_rating.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,97,98,101,102,103,105,106,107,108,111
recipe,,,,,,,,,,,,,,,,,,,,,
계란죽,0.0,0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
계란찜,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
고구마만쥬,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
김밥,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
리코타치즈,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
similarity_rate = cosine_similarity(recipe_usr_rating, recipe_usr_rating)
print(similarity_rate)

[[1.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         1.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         1.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         1.         0.         0.0854778
  0.04024153 0.0796146  0.         0.         0.08732376]
 [0.         0.         0.         0.         1.         0.
  0.         0.         0.06905261 0.         0.        ]
 [0.         0.         0.         0.0854778  0.         1.
  0.         0.06455295 0.         0.         0.08850459]
 [0.         0.         0.         0.04024153 0.         0.
  1.         0.04254664 0.         0.         0.        ]
 [0.         0.         0.         0.0796146  0.         0.06455295
  0.04254664 1.         0.         0.12974982 0.        ]
 [0.         0.         0.         0.         0.06905261 0.
  0.         0.         1.         0.10647943 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.12974982 0.10647943 1.         0.        ]
 [0.         0.         0.         0.08732376 0.         0.08850459
  0.         0.         0.         0.         1.        ]]

In [69]:
similarity_rate_df = pd.DataFrame(
    data=similarity_rate,
    index=recipe_usr_rating.index,
    columns=recipe_usr_rating.index
)

similarity_rate_df.head()

recipe,계란죽,계란찜,고구마만쥬,김밥,리코타치즈,멍치킨,소고기무국,소시지,아이스크림,치즈볼,피자
recipe,,,,,,,,,,,
계란죽,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
계란찜,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
고구마만쥬,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
김밥,0.0,0.0,0.0,1.0,0.0,0.085478,0.040242,0.079615,0.000000,0.0,0.087324
리코타치즈,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.069053,0.0,0.000000

In [58]:
np.save('./result.npy', similarity_rate_df.to_numpy())